@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap');
*{
	margin: 0;
}
/*Etiquetas*/
header{
	background: darkcyan;
	display: flex;
	align-items: center;
}

main{
	width: 100%;
	text-align: center;
	padding: 150px 0px 150px 0px;
}

main p{
	font-family: 'Gentium Book Basic', serif;
	font-size: 3.6vw;
	padding: 0px 250px 50px 0px;

}

main a{
	font-family: 'Gentium Book Basic', serif;
	text-decoration: none;
	color: #FED9B7;
	font-size: 2.6vw;
	text-shadow: 3px 2px 3px black;
}

aside{
	display: flex;
	text-align: center;
}

aside p{
	font-family: 'Gentium Book Basic', serif;
}

/*Clases*/
.logo{
	width: 30%;
}

.logo img{
	width: 40%;
	padding: 5px;
}

.titSARA{
	width: 30%;
	padding: 0px 0px 0px 150px;
}

.titSARA img{
	width: 70%;
	padding: 5px;

}

.boton {
	padding: 5px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px black;
	padding: 0 40px 0 40px ;
}

.boton:hover{
	color: #FDC086;
}

.ColorB1{
	background: #E3E9C2;

}

.ColorB2{
	background: #D6DFA5;
}

.colum{
	width: 33.33%;
	padding: 50px 15px;
	border-right: 2px dashed #D6DFA5;
}

.colum1{
	width: 33.33%;
	padding: 50px 15px;
	border-right: 2px dashed #D6DFA5;
	border-left: 2px dashed #D6DFA5;
}

.datinteg{
	width: 33.33%;
	padding: 50px 15px;
	border-right: 2px dashed #D6DFA5;
	border-top: 2px solid #D6DFA5;
}

.datintegpdp{
	font-size: 2.0vw;
}
footer {
	text-align: center; 
	background-color: darkcyan;
 }
 
 footer img {
	 width: 50px;
 }
 footer p img {
	 width: 5%;
 }